<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @edgetype.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @edgetype.desc %>
</p>


<%= link_to 'Edit', edit_edgetype_path(@edgetype) %> |
<%= link_to 'Back', edgetypes_path %>
