<%= form_for(@node, :remote => remote?) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field with-explanation">
    <div class="field-explanation-wrapper">
      <%= f.label :content %>
      <div class="field-explanation">
        <%= t 'nodes.content_explanation' %>
        <%= link_to t('nodes.content_explanation_link_text'), 
          t('nodes.content_explanation_url'), 
          :target => "_blank" %>
      </div>
      <%= f.text_area :content, :class => 'input-field' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :pos_x %><br />
    <%= f.text_field :pos_x %>
  </div>
  <div class="field">
    <%= f.label :pos_y %><br />
    <%= f.text_field :pos_y %>
  </div>
  
  <h2><%= t 'nodes.related' %></h2>
  <%= f.fields_for :related_edges_A do |builder| %>
    <%= render "related_edges_A_fields", :f => builder %>
  <% end %>
  <%= f.fields_for :related_edges_B do |builder| %>
    <%= render "related_edges_B_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields t('nodes.add_related'), f, :related_edges_B %>
  
  <h2><%= t 'nodes.previous' %></h2>
  <%= f.fields_for :incoming_edges do |builder| %>
    <%= render "incoming_edge_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields t('nodes.add_previous'), f, :incoming_edges %>
  
  <h2><%= t 'nodes.next' %></h2>
  <%= f.fields_for :outgoing_edges do |builder| %>
    <%= render "outgoing_edge_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields t('nodes.add_next'), f, :outgoing_edges %>
  
  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
