<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<p style="min-height:300px;">
  <b>Content:</b>
  <%= @node.content %>
</p>

<p>
  <b>Position:</b>
  ( <%= @node.pos_x %> , <%= @node.pos_y %> )
</p>

<table class="nodesTable">
  <tr>
    <td><h3><%= t 'nodes.related' %></h3></td>
    <td><h3><%= t 'nodes.previous' %></h3></td>
    <td><h3><%= t 'nodes.next' %></h3></td>
  </tr>
  <tr>
    <td>
      <ul>
        <% @node.related_nodes.each do |node| %><li><%= link_to node.title, node, :remote => remote?, "data-type" => "html" %></li><% end %><% if @node.related_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @node.previous_nodes.each do |node| %><li><%= link_to node.title, node, :remote => remote?, "data-type" => "html" %></li><% end %><% if @node.previous_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @node.next_nodes.each do |node| %><li><%= link_to node.title, node, :remote => remote?, "data-type" => "html" %></li><% end %><% if @node.next_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
  </tr>
</table>

<h2>Questions</h2>
<% @node.questions.each do |q| %>
  <h3><%= q.title %></h3> <%= q.text %> 

  <%= form_for q, :url => node_question_question_submit_path(@node.id, q.id), do |f| %>
    <% q.choices.each_with_index do |choice, index| %>  
      <%= radio_button_tag("answer", index) %>
      <%= label_tag(index, choice) %><br>
    <% end %>
    <%= f.submit "Submit" %>
  <% end %>

<% end %>

</table>

<%= link_to t('actions.home'), :root, :remote => remote?, "data-type" => "html" %> |
<% if can?(:edit, Node) %>
  <%= link_to t('actions.edit'), edit_node_path(@node), :remote => remote?, "data-type" => "html" %> |
<% end %>
<% if can?(:destroy, Node) %>
  <%= link_to t('actions.destroy'), @node, confirm: 'Are you sure?', method: :delete, :remote => remote? %> |
<% end %>
<%= link_to t('actions.back'), :back, :onclick => "window.history.back(); return false;" %>
