<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#content-questions .navigation a').click(function() {
      if(!$(this).hasClass('active')) {
        $(this).siblings().removeClass('active').end().addClass('active');
        $('#content-questions .container').hide();
        $('#' + $(this).attr('data-container-id')).show();
      }
      return false;
    });
  });
<% end %>
<div id="content-questions">
  <% if @node.questions.any? %>
    <div class="navigation">
      <%=link_to "Content", '#', :class => 'active', 'data-container-id' => 'content-wrapper' %>
      <%=link_to"Questions", '#', :class => 'selectable', 'data-container-id' => 'questions-wrapper' %>
    </div>
    <div id="content-wrapper" class="container" style="min-height:300px;">
      <%= simple_format RedCloth.new(@node.content).to_html %>
    </div>
    <div id="questions-wrapper" class="container" style="display:none; min-height:300px;">
      <%= render :partial => 'questions' %>
    </div>
  <% else %>
  <b> Content: </b>
    <div id="content-wrapper" style="min-height:300px;">
      <%= simple_format RedCloth.new(@node.content).to_html %>
    </div>
  <% end %>
</div>

<p>
  <b>Position:</b>
  ( <%= @node.pos_x %> , <%= @node.pos_y %> )
</p>

<table class="nodesTable">
  <tr>
    <td><h3><%= t 'nodes.related' %></h3></td>
    <td><h3><%= t 'nodes.previous' %></h3></td>
    <td><h3><%= t 'nodes.next' %></h3></td>
  </tr>
  <tr>
    <td>
      <ul>
        <% @node.related_nodes.each do |node| %><li><%= link_to node.title, node, :remote => remote?, "data-type" => "html" %></li><% end %><% if @node.related_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @node.previous_nodes.each do |node| %><li><%= link_to node.title, node, :remote => remote?, "data-type" => "html" %></li><% end %><% if @node.previous_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @node.next_nodes.each do |node| %><li><%= link_to node.title, node, :remote => remote?, "data-type" => "html" %></li><% end %><% if @node.next_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
  </tr>

</table>
<br>
<%= link_to t('actions.home'), :root, :remote => remote?, "data-type" => "html" %> |
<% if can?(:edit, Node) %>
  <%= link_to t('actions.edit'), edit_node_path(@node), :remote => remote?, "data-type" => "html" %> |
<% end %>
<% if can?(:destroy, Node) %>
  <%= link_to t('actions.destroy'), @node, confirm: 'Are you sure?', method: :delete, :remote => remote? %> |
<% end %>
<%= link_to t('actions.back'), :back, :onclick => "window.history.back(); return false;" %>
