<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<div id="graphData" style="display:none" data-graph_id="<%= @graph.id if @graph %>" data-graph_nodes="<%= @graph.nodes.map{ |n| n.id }.to_json if @graph %>" data-node_id="<%= @node.id if @node %>" ></div>

<h1><%= t 'nodes.editing' %></h1>

<%= render 'form' %>

<%= link_to t('actions.home'), :root, :remote => remote?, "data-type" => "html" %> |
<%= link_to t('actions.show'), @node, :remote => remote?, "data-type" => "html" %> |
<%= link_to t('actions.back'), :back, :onclick => "window.history.back(); return false;" %>
