<h1>Listing nodes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= node.title %></td>
    <td><%= node.content %></td>
    <td><%= link_to t('actions.show'), node, :remote => true, "data-type" => "html" %></td>
    <td><%= link_to t('actions.edit'), edit_node_path(node), :remote => true, "data-type" => "html" %></td>
    <td><%= link_to t('actions.destroy'), node, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('nodes.new'), new_node_path, :remote => true, "data-type" => "html" %>
