<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<p>
  <b>Content:</b>
  <%= @node.content %>
</p>

<h2><%= t 'nodes.related' %></h2>
<ul>
  <% @node.related_nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %>
</ul>

<h2><%= t 'nodes.previous' %></h2>
<ul>
  <% @node.previous_nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %>
</ul>

<h2><%= t 'nodes.next' %></h2>
<ul>
  <% @node.next_nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %>
</ul>

<%= link_to t('actions.edit'), edit_node_path(@node) %> |
<%= link_to t('actions.back'), nodes_path %>
