<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @node.title %>
</p>

<p style="min-height:300px;">
  <b>Content:</b>
  <%= @node.content %>
</p>

<table class="nodesTable">
  <tr>
    <td><h3><%= t 'nodes.related' %></h3></td>
    <td><h3><%= t 'nodes.previous' %></h3></td>
    <td><h3><%= t 'nodes.next' %></h3></td>
  </tr>
  <tr>
    <td>
      <ul>
        <% @node.related_nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %><% if @node.related_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @node.previous_nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %><% if @node.previous_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @node.next_nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %><% if @node.next_nodes.empty? then %><i>None.</i><% end %>
      </ul>
    </td>
  </tr>
</table>
<%= link_to t('actions.edit'), edit_node_path(@node) %> |
<%= link_to t('actions.back'), nodes_path %>
