<%= form_for(@graph) do |f| %>
  <% if @graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph.errors.count, "error") %> prohibited this <%= t('graphs.one').downcase %> from being saved:</h2>

      <ul>
      <% @graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => (@graph.errors[:name].blank? ? "" : "error") %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 5, :class => (@graph.errors[:content].blank? ? "" : "error") %>
  </div>
  <h2><%= t 'subgraphs.many' %></h2>
  <%= f.fields_for :graph_membership_graphs do |builder| %>
    <%= render "graph_membership_graph_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields t('subgraphs.add'), f, :graph_membership_graphs %>
  
  <h2><%= t 'nodes.many' %></h2>
  <%= f.fields_for :graph_membership_nodes do |builder| %>
    <%= render "graph_membership_node_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields t('nodes.add'), f, :graph_membership_nodes %>
  
  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
