<% require 'json' %>
<% @stats = render :partial => 'nodes/node_stats', :formats => [:json], :locals => {:node => @node} %>
<% @statsJson = JSON.parse(@stats) %>


<div style="padding-bottom:5px"><b><%= Node.find(params[:node_id]) %> Statistics</b></div>

<% @statsJson.each do |key, value| %>
    <div style="padding:3px 0;">
        <svg class="stats-arrow"><polygon fill="black" stroke="black" stroke-width="1" points="0,0  0,10 10,5" /></svg> <%= key.split('_').join(' ') %>:
        <% if value.respond_to? :each %>
            <% value.each_with_index do |val, index| %>
    		    <div style="padding:3px 0;padding-left:20px">
                    <%= index+1 %>: <%= val %>
		    	</div>
            <% end %>
	    <% else %>
            <div style="padding:3px 0;padding-left:20px">
                <%= value %>
            </div>
	    <% end %>
    </div>
<% end %>

