<div id="graphData" style="display:none" data-graph_id="<%= @graph.id if @graph %>" data-graph_nodes="<%= @graph.nodes.map{ |n| n.id }.to_json if @graph %>" data-node_id="<%= @node.id if @node %>" ></div>

<h1><%= t 'welcome' %></h1>

<ul>
  <% @graphs.each do |graph| %><li><%= link_to graph.name, graph, :remote => remote?, "data-type" => "html" %></li><% end %>
</ul>
<!--
<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @graphs.each do |graph| %>
  <tr>
    <td><%= graph.name %></td>
    <td><%= graph.content %></td>
    <td><%= link_to 'Show', graph %></td>
    <td><%= link_to 'Edit', edit_graph_path(graph) %></td>
    <td><%= link_to 'Destroy', graph, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
-->

<br />

<%= link_to t('graphs.new'), new_graph_path, :remote => remote?, "data-type" => "html" %> - <%= link_to t('nodes.new'), new_node_path, :remote => remote?, "data-type" => "html" %>
