<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<div id="graphData" style="display:none" data-graph_id="<%= @graph.id if @graph %>" data-graph_nodes="<%= @graph.nodes.map{ |n| n.id }.to_json if @graph %>" data-node_id="<%= @node.id if @node %>" ></div>

<h1><%= t 'welcome' %></h1>

<ul>
  <% @graphs.sort{|a,b|
       if a.name =~ /CS\d*/
         -1
       elsif b.name =~ /CS\d*/
          1
       else
         a.name <=> b.name
       end
     }.each do |graph| %>
         <li>
           <% if can?(:versions, Graph) %>
            <%= link_to 'Versions', graph_versions_path(graph), :remote => remote? %> -
           <% end %>
           
           <% if can?(:edit, Graph) %>
            <%= link_to t('actions.edit'), edit_graph_path(graph), :remote => remote? %> -
           <% end %>
            
           <% if can?(:destroy, Graph) %>
            <%= link_to t('actions.destroy'), graph, confirm: 'Are you sure?', method: :delete, :remote => remote? %> -
           <% end %>
           
           <%= link_to graph.name, graph, :remote => remote?, "data-type" => "html" %>
         </li>
  <% end %>
</ul>

<br />

<% if can?(:create, Graph) %>
  <%= link_to t('graphs.new'), new_graph_path, :remote => remote?, "data-type" => "html" %>
<% end %>
<% if can?(:create, Graph) and can?(:create, Graph) %> - <% end %>
<% if can?(:create, Graph) %>
  <%= link_to t('nodes.new'), new_node_path, :remote => remote?, "data-type" => "html" %>
<% end %>
