<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<div id="graphData" style="display:none" data-graph_id="<%= @graph.id if @graph %>" data-graph_nodes="<%= @graph.nodes.map{ |n| n.id }.to_json if @graph %>" data-all_graph_nodes="<%= @graph.all_nodes.map{ |n| n.id }.to_json if @graph %>" data-node_id="<%= @node.id if @node %>" ></div>

<%= render 'graph_window' %>
