<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<div id="graphData" style="display:none" data-graph_id="<%= @graph.id if @graph %>" data-graph_nodes="<%= @graph.nodes.map{ |n| n.id }.to_json if @graph %>" data-all_graph_nodes="<%= @graph.all_nodes.map{ |n| n.id }.to_json if @graph %>" data-node_id="<%= @node.id if @node %>" ></div>


<div id="top-widget">
  <div id="top-widget-content" style="height:125px;display:none; text-align:center; background-color:#D9D9D9; line-height:150px; padding-top:40px;">
    <%= render 'learning_path_widget' %>
  </div>
  <div id="top-widget-button" style="text-align:center;background-color:grey;">&#x2235;</div>
</div>

<div id="map" style="position:relative; overflow:hidden;">
  <div id="side-widget" style="position:absolute;right:-300px;top:0; ">
    <div id="side-widget-button" style="position:absolute;top:-1px;left:-1px;line-height:100%; padding:5px;background-color:grey;margin:0">&laquo;</div>
    <div id="side-widget-content" style="margin-left:18px;width:250px;float:right;min-height:100px;max-height:490px;padding:5px;overflow-y:scroll">
      <%= render 'side_widget', :locals => { :graph => @graph } %>
    </div>
  </div>
  <%= render 'graph_window' %>
</div>

<div id="node" style="display:none"></div>

<script>
$("#top-widget-button").on("click", function(event) {
  if(!$("#top-widget-content").is(":visible"))
      $("#top-widget-button").css("border-top","1px solid black");
  $("#top-widget-content").animate({height: 'toggle'}, null, null, function() {
    if($("#top-widget-content").is(":visible")) {
      $("#top-widget-button").html("&#x2234;");
    } else {
      $("#top-widget-button").html("&#x2235;");
      $("#top-widget-button").css("border-top", "none");
    }
  });
});

$("#side-widget-button").on("click", function(event) {
  if(parseInt($("#side-widget").css("right"),10)!=0) {
      $("#side-widget-button").animate({left: parseInt($("#side-widget-button").css('left'),10) == -1 ? -$("#side-widget-button").outerWidth()-1 : -1});
    }
    $("#side-widget").animate({right: parseInt($("#side-widget").css('right'),10) == 0 ? -$("#side-widget").outerWidth() : 0},  function() {
      if(parseInt($("#side-widget").css("right"),10)==0) {
        $("#side-widget-button").html("&raquo;");
      } else {
        $("#side-widget-button").animate({left: parseInt($("#side-widget-button").css('left'),10) == -1 ? -$("#side-widget-button").outerWidth()-1 : -1});
        $("#side-widget-button").html("&laquo;");
      }
  });
});
  $("#side-widget").animate({right: -$("#side-widget").outerWidth()});
  $("#side-widget-button").animate({left: -$("#side-widget-button").outerWidth()-1});
</script>
