<p id="notice"><%= notice %></p>

<%= render 'graph_window' %>

<p>
  <b>Name:</b>
  <%= @graph.name %>
</p>

<p>
  <b>Content:</b>
  <%= @graph.content %>
</p>

<h2><%= t 'subgraphs.many' %></h2>
<ul>
  <% @graph.subgraphs.each do |subgraph| %><li><%= link_to subgraph.name, subgraph %></li><% end %>
</ul>

<h2><%= t 'nodes.many' %></h2>
<ul>
  <% @graph.nodes.each do |node| %><li><%= link_to node.title, node %></li><% end %>
</ul>

<%= link_to t('actions.edit'), edit_graph_path(@graph) %> |
<%= link_to t('actions.back'), graphs_path %>
