<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<h1>Previous versions for: <%= @graph.name %></h1>
<% if @versions.count == 0 %>
  <i>No previous versions exist</i>
<% else %>
  <% @versions.each { |version| %>
    <%= version.index %>. <%= link_to version.reify, graph_version_path(@graph, :version => version.index) %> - <%= version.created_at %><br />
  <% } %>
<% end %>
