<tr>
  <td><%= action.created_at %></td>
  <td><%= action_to_html action %></td>
  <!--<td><%= link_to action.user, action.user, :remote => remote? %></td>
  <td><%= action.controller %></td>
  <td><%= action.action %></td>
  <td><%= link_to 'Show', action %></td>
  <td><%= link_to 'Edit', edit_action_path(action) %></td>
  <td><%= link_to 'Destroy', action, confirm: 'Are you sure?', method: :delete %></td>-->
</tr>
