<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<h1>Change Password</h1>

<%= form_for @user, :url => change_password_path, :method => "post", :remote => remote? do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password %>
  </p>
  <p>
    <%= f.label :new_password %><br />
    <%= f.password_field :new_password %>
  </p>
  <p>
    <%= f.label :new_password_confirmation %><br />
    <%= f.password_field :new_password_confirmation %>
  </p>
  
  <p class="button"><%= f.submit "Change password" %> - <%= link_to 'Cancel', account_path, :remote => remote? %></p>
<% end %>
