<%= render :partial => "application/flash", :locals => { :flash => flash } %>
<h1>Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Track</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= "#{user.first} #{user.last}" %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= user.track %></td>
    <td><%= link_to 'Show', user, :remote => remote? %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :remote => remote? %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete, :remote => remote? %></td>
  </tr>
<% end %>
</table>
