<%= render :partial => "application/flash", :locals => { :flash => flash } %>

<p>
  <b>First:</b>
  <%= @user.first %>
</p>

<p>
  <b>Last:</b>
  <%= @user.last %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<h2>Recent actions</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Action</th>
  </tr>
  <%= render @user.actions %>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
