<h1>All Courses</h1>

<% @courses.each do |course| %>
  <div>
    <% if can?(:edit, course) %><%= link_to 'Edit', edit_course_path(course), :remote => remote? %><% end %>
    <% if can?(:destroy, course) %><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete, :remote => remote? %><% end %>
    <span class="course-title"><%= link_to course.name, course, :remote => remote? %></span> by <%= course.instructors.map { |i| link_to i.to_s, i, :remote => remote? }.join(' and ').html_safe %>.
  </div>
<% end %>

<br />

<% if can?(:create, Course) %>
  <%= link_to 'New Course', new_course_path, :remote => remote? %>
<% end %>
