<!DOCTYPE html>
<html>
<head>
  <title>KnowledgeMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "//d3js.org/d3.v2.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body><div id="container">
  <div id="header">
    <div class="title">
      <%= link_to 'Knowledge Map', :root, :remote => remote? %>
    </div>
    <div class="user_nav"><%= render 'layouts/user_nav' %></div>
    <div class="search clear">
      <%= form_tag search_path, :method => 'get' do %>
        <%= text_field_tag :q, params[:q] || t('search_box.default_text'), :class => params[:q] ? "search-box" : "search-box blank-search-box", "data-timestamp" => "0" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </div>
  <div id="body">
    <% if content_for?(:content) %>
      <%= yield :content %>
    <% else %>
      <div id="content"><%= yield %></div>
    <% end %>    
    <div class="clear"></div>
  </div>
</div></body>
</html>
