<!DOCTYPE html>
<html>
<head>
  <title>KnowledgeMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div class="title"><%= link_to 'Knowledge Map', :root, :remote => Rails.configuration.remote && cookies[:remote] %></div>
  </div>
  <div id="body">
    <% if flash[:error] %><div id="flash_error"><%= flash[:error] %></div><% end %>
    <% if flash[:warning] %><div id="flash_warning"><%= flash[:warning] %></div><% end %>
    <% if flash[:info] %><div id="flash_info"><%= flash[:info] %></div><% end %>
    <% if flash[:success] %><div id="flash_success"><%= flash[:success] %></div><% end %>
    <%= render 'graphs/graph_window' %>
    <div id="content"><%= yield %></div>
    <div class="clear"></div>
  </div>
</body>
</html>
