<!DOCTYPE html>
<html>
<head>
  <title>Know Map</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <% #TODO host mathjax ourselves. %>
  <%= javascript_include_tag "https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    //extensions: ["tex2jax.js"],
    tex2jax: {
    //inlineMath: [ ['$','$'] ],
    //displayMath: [],
    processEscapes: true,
    menuSettings: {
    zoom: "None",
    },
    messageStyle: "none",
    showProcessingMessages: false,
    },
    });
  </script>
  <%=  yield :javascript %>
  
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD
<body class="<%= extract_layout_classes(controller) %>"><div id="container">
=======
<body "data-controller"=<%=controller_name%> "data-action"=<%=action_name%>><div id="container">
>>>>>>> initial import of coursharing questions
  <div id="header">
    <div class="title">
      <%= link_to 'Know Map', :root, :remote => remote? %>
    </div>
    <div class="nav"><%= render 'nav' %></div>
    <div class="user_nav"><%= render 'user_nav' %></div>
    <div class="search clear">
      <%= form_tag search_path, :method => 'get' do %>
        <%= text_field_tag :q, params[:q] || t('search_box.default_text'), :class => params[:q] ? "search-box" : "search-box blank-search-box", "data-timestamp" => "0" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </div>
  <div id="body">
    <% if content_for?(:content) %>
      <%= yield :content %>
    <% else %>
      <div id="content"><%= yield %></div>
      
      <div id="map-container" style="display:none">
        <div id="learning-path-widget">
          <div id="learning-path-widget-content" class="hidden" style="height:150px;display:none; text-align:center; background-color:#D9D9D9; line-height:150px; padding-top:40px;">
            <%= render 'graphs/learning_path_widget' %>
          </div>
          <div id="learning-path-widget-button" style="text-align:center;background-color:grey;">&#x2235;</div>
        </div>

        <div id="map" style="position:relative; overflow:hidden;<% if params[:controller] != 'graphs' %>display:none<% end %>">
          <div id="groups-widget" style="position:absolute;right:-280px;top:0; ">
            <div id="groups-widget-button" style="position:absolute;top:-1px;left:-21px;line-height:100%; padding:5px;background-color:grey;margin:0">&laquo;</div>
            <% if can?(:manage, Course) %>
            <div id="tabs" style="margin-left:25px; margin-top:1px">
              <div id="groups-tab-button" class="side-widget-tab-button">
                groups
              </div>
              <div id="node-stats-tab-button" class="side-widget-tab-button">
                node stats
              </div>
              <div id="student-stats-tab-button" class="side-widget-tab-button">  
                student stats
              </div>
            </div>
            <% end %>
            <div id="groups-widget-content" class="side-widget-content">
              <% render 'graphs/groups_widget', :locals => { :graph => @graph } %>
            </div>
            <% if can?(:manage, Course) %>
            <div id="node-stats-widget-content" class="side-widget-content">
              insert what to render for node-stats-widget-content here
            </div>
            <div id="student-stats-widget-content" class="side-widget-content">
              insert what to render for student-stats-widget-content here
            </div>
            <% end %>
          </div>
          <%= render 'graphs/graph_window' %>
        </div>
        
        <div id="node-widget"<% if params[:controller] != 'nodes' %>style="display:none"<% end %>><%= yield :node %></div>
      </div>
    <% end %>    
    <div class="clear"></div>
  </div>
</div></body>
</html>
